hidden = [".iex.exs"]

[interpreter]
command = ["iex"]
run = "mix do deps.get, ecto.setup, assets.setup, phx.server"

[env]
LC_ALL = "en_US.UTF-8"
HEX_HOME = "$REPL_HOME/.hex"
MIX_HOME = "$REPL_HOME/.mix"

[nix]
channel = "nixos-unstable"

[deployment]
run = ["sh", "-c", "iex -S mix phx.server"]
