* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans";
  font-size: 62.5%;
  font-weight: 400;
  background-color: #121212;
  height: 100vh;
  color: #fff;
  max-width: 100vw;
}

.no-appearance, .input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
}

.mx-auto {
  margin: 0 auto;
}

.flex-center, .transaction-icon, .transaction-list, .user-profile-container, .btn, .btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start, .contact-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-between, .search-input, .transaction, .balance-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col, .contact-list, .transaction-list {
  flex-direction: column;
}

.w-full, .transaction-modal, .contact, .contact-list, .balance-summary, .profile-navbar {
  width: 100%;
}

.h-full {
  height: 100%;
}

.btn, .btn-action {
  border-radius: 0.25rem;
  padding: 0.75rem 0.625rem;
  cursor: pointer;
  color: #121212;
  outline: none;
  flex: 1 0 0;
}

.btn-action {
  max-width: 9rem !important;
  height: 3rem;
  color: #fff;
  padding: 1rem;
  background-color: #2d2d2d;
  text-decoration: none;
}

.btn-primary {
  background-color: #ffb02e;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-sm {
  width: 4.1875rem;
  height: 1.5625rem;
}

.btn-md {
  width: 8.75rem;
}

.btn-lg {
  width: 19.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  color: #fff;
}

.input {
  width: 19.5rem;
  background-color: transparent;
  padding: 1rem 0.5rem;
  align-self: stretch;
  border: none;
  border-bottom: 1px solid #2d2d2d;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
  color: #fff;
}

.input:focus {
  border-bottom: 1px solid #ffb02e;
}

.label {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  line-height: 1.5rem;
}

.text-xs {
  font-size: 0.625rem;
  line-height: 1.25rem;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.text-md {
  font-size: 0.875rem;
  line-height: normal;
}

.text-lg, .label {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xl {
  font-size: 1.5rem;
  line-height: normal;
}

.text-2xl {
  font-size: 2rem;
  line-height: normal;
}

.form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.user-profile-container {
  border-radius: 7.3rem;
  background-color: #ffb02e;
}

.user-profile-lg {
  width: 7.38rem;
  height: 7.375rem;
}

.user-profile-sm {
  width: 2rem;
  height: 2rem;
}

.text-black {
  color: #121212;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #8C8C8C;
}

.text-orange {
  color: #ffb02e;
}

.icon {
  width: 50%;
  height: 50%;
}

.default-padding {
  padding: 3.38rem 1.5rem;
}

.h-1 {
  height: 1rem;
}

.h-1-5 {
  height: 1.5rem;
}

.w-1 {
  width: 1rem;
}

.w-1-5 {
  width: 1.5rem;
}

.profile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance-summary {
  border-bottom: 1px solid #2d2d2d;
  padding: 0 1.5rem;
  padding-bottom: 2.5rem;
}

.tab-active {
  border-bottom: 1px solid #fff;
}

.badge {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border: 1px solid #595959;
  color: #595959;
}

.transaction {
  width: 20rem;
  margin-bottom: 1rem;
}

.transaction-icon {
  border-radius: 50%;
  background-color: #1e1e1e;
  width: 2rem;
  height: 2rem;
}
.transaction-icon svg {
  wdith: 1.5rem;
  height: 1.5rem;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1.5rem;
}

.search-input {
  color: #fff;
  align-self: stretch;
  height: 2.5rem;
  width: 19.5rem;
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  border: 1.5px solid #2d2d2d;
  background: #1E1E1E;
}

.transaction-modal {
  display: flex;
  height: 60%;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex-shrink: 0;
  background: #1E1E1E;
  position: fixed;
  bottom: 0;
  overflow-y: auto;
}
.transaction-modal input {
  font-size: 2.5rem;
}

.transaction-badge {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #121212;
  background-color: #fff;
  position: absolute;
  inset: 0 calc(50% - 2.3rem);
  top: 13.75rem;
  height: 1.5rem;
  width: 4.135rem;
  z-index: 50;
}

/*# sourceMappingURL=app.css.map */
